html{
    background-color: rgb(238, 108, 91);

}
body{
    width: 600px;
    margin: 0 auto;
    background-color: #f0c44c;
    padding: 0 40px 40px 40px;
    border: 5px solid black;
}

h1{
text-align: center;
margin: 0 ;
padding: 20px 0;
color: chartreuse;
text-shadow: 3px 3px 1px crimson;

}

img{
    display: block;
    margin: 0 auto;
}